{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-1">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Resource Manager</h1>
        <div class="row mt-4">
            <!-- Project Summary Cards -->
            <div class="col">
                <div class="card bg-primary text-white mb-2">
                    <div class="card-header">All Projects</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ projects_total }}</h5>
                        <a href="{% url 'all_projects' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-info text-white mb-2">
                    <div class="card-header">Open Projects</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ projects_open }}</h5>
                        <a href="{% url 'open_project_list' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white mb-2">
                    <div class="card-header">Closed Projects</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ projects_closed }}</h5>
                        <a href="{% url 'closed_project_list' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-primary text-white mb-3">
                    <div class="card-header">All Tasks</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ tasks_total }}</h5>
                        <a href="{% url 'all_task_list' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-danger text-white mb-3">
                    <div class="card-header">Unassigned Tasks</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ tasks_unassigned }}</h5>
                        <a href="{% url 'unassigned_tasks' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-warning text-white mb-3">
                    <div class="card-header">Open Tasks</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ tasks_open }}</h5>
                        <a href="{% url 'open_task_list' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-success text-white mb-3">
                    <div class="card-header">Completed Tasks</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ tasks_completed }}</h5>
                        <a href="{% url 'completed_task_list' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-info text-white mb-3">
                    <div class="card-header">Assets</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ assets_total }}</h5>
                        <a href="{% url 'asset_list' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-primary text-white mb-3">
                    <div class="card-header">Skills</div>
                    <div class="card-body">
                        <p class="card-text">{{ skills_total }}</p> 
                        <a href="{% url 'skill_list' %}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Doughnut Chart for Projects by Status -->
        <div class="row mt-5">
            <div class="col-md-6">
                <canvas id="projectsStatusChart"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="tasksChart"></canvas>
            </div>
        </div>

        <div class="row mt-4">

            <!-- Legend for Projects Status Chart -->
            <div class="col-md-6 text-center mt-2">
                <div id="projectsLegend" class="row chart-legend">
                    <div class='col'>
                        <span style="display:inline-block; width: 15px; height: 15px; background-color: #9954bb; margin-right: 5px;"></span>
                        Open Projects
                    </div>
                    <div class='col'>
                        <span style="display:inline-block; width: 15px; height: 15px; background-color: #f0ad4e; margin-left: 15px; margin-right: 5px;"></span>
                        On Hold Projects
                    </div>
                    <div class='col'>
                        <span style="display:inline-block; width: 15px; height: 15px; background-color: #373a3c; margin-left: 15px; margin-right: 5px;"></span>
                        Closed Projects
                    </div>
                </div>
            </div>

            <!-- Legend for Tasks Chart -->
            <div class="col-md-6 text-center mt-2">
                <div id="tasksLegend" class="row chart-legend">
                    <div class='col'>
                        <span style="display:inline-block; width: 15px; height: 15px; background-color: #ff7518; margin-left: 15px; margin-right: 5px;"></span>
                        Assigned Tasks
                    </div>
                    <div class='col'>
                        <span style="display:inline-block; width: 15px; height: 15px; background-color: #ff0039; margin-right: 5px;"></span>
                        Unassigned Tasks
                    </div>
                    <div class='col'>
                        <span style="display:inline-block; width: 15px; height: 15px; background-color: #3fb618; margin-left: 15px; margin-right: 5px;"></span>
                        Completed Tasks
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extraJS %}
{% load static %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Data for Projects Status Chart
        var ctxProjectsStatus = document.getElementById('projectsStatusChart').getContext('2d');
        var projectsStatusChart = new Chart(ctxProjectsStatus, {
            type: 'doughnut',
            data: {
                labels: ['Open Projects', 'On Hold Projects', 'Closed Projects'],
                datasets: [{
                    label: '# of Projects by Status',
                    data: [
                        {{ projects_open }},
                        {{ projects_onhold }},
                        {{ projects_closed }}
                    ],
                    backgroundColor: [
                        '#9954bb',  // Info (Bootstrap Plum) for Open Projects
                        '#f0ad4e',  // Orange for On Hold Projects
                        '#373a3c'   // Dark grey for Closed Projects
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false // Hide the default legend from Chart.js
                    }
                },
                onClick: function(event, elements) {
                    if (elements.length > 0) {
                        var index = elements[0].index;
                        if (index === 0) {
                            // Open Projects
                            window.location.href = "{% url 'open_project_list' %}";
                        } else if (index === 1) {
                            // On Hold Projects
                            window.location.href = "{% url 'open_project_list' %}";
                        } else if (index === 2) {
                            // Closed Projects
                            window.location.href = "{% url 'closed_project_list' %}";
                        }
                    }
                }
            }
        });

        // Doughnut Chart for Tasks (Unassigned, Assigned, Completed)
        var ctxTasks = document.getElementById('tasksChart').getContext('2d');
        // Doughnut Chart for Tasks (Unassigned, Assigned, Completed)
        var tasksChart = new Chart(ctxTasks, {
            type: 'doughnut',
            data: {
                labels: ['Assigned Tasks', 'Unassigned Tasks', 'Completed Tasks'],
                datasets: [{
                    label: '# of Tasks',
                    data: [{{ tasks_open }} - {{ tasks_unassigned }}, {{ tasks_unassigned }}, {{ tasks_completed }}],
                    backgroundColor: [
                        '#ff7518',  // Warning (Bootstrap warning) for Assigned Tasks
                        '#ff0039',  // Danger (Bootstrap danger) for Unassigned Tasks
                        '#3fb618'   // Success (Bootstrap success) for Completed Tasks
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false // Hide the default legend from Chart.js
                    }
                },
                onClick: function(event, elements) {
                    if (elements.length > 0) {
                        var index = elements[0].index;
                        if (index === 0) {
                            // Assigned Tasks
                            window.location.href = "{% url 'open_task_list' %}";
                        } else if (index === 1) {
                            // Unassigned Tasks
                            window.location.href = "{% url 'unassigned_tasks' %}";
                        } else if (index === 2) {
                            // Completed Tasks
                            window.location.href = "{% url 'completed_task_list' %}";
                        }
                    }
                }
            }
        });
    });
</script>
{% endblock %}

