{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Close Project: {{ form.instance.project_name }}</h1>
    <a href="{% url 'project_detail' project_id=project.id %}" class="btn btn-outline-secondary mb-3">Back to Project Details</a>

    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{% endblock %}

{% block extraJS %}
<script>
    $(document).ready(function () {
        // Function to update the min attribute of the actual end date field
        function updateMinEndDate(actualStartDate) {
            if (actualStartDate) {
                $('#id_actual_end_date').attr('min', actualStartDate);
            }
        }

        // On document ready, check if the actual start date is already populated
        var initialActualStartDate = $('#id_actual_start_date').val();
        updateMinEndDate(initialActualStartDate);

        // Update min date attribute when the actual start date changes
        $('#id_actual_start_date').on('change', function () {
            var actualStartDate = $(this).val();
            updateMinEndDate(actualStartDate);
        });

        // Check for elements with the 'is-invalid' class and focus on the first one found
        var firstInvalidField = $('.is-invalid').first();
        if (firstInvalidField.length) {
            firstInvalidField.focus();
        }
    });
</script>
{% endblock %}