{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Complete Task: {{ form.instance.task_name }}</h1>
    <a href="{% url 'task_detail' project_id=project.id task_id=task.id %}" class="btn btn-outline-secondary mb-3">Back to Task Details</a>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="{{ form.actual_start_date.id_for_label }}" class="form-label">{{ form.actual_start_date.label }}</label>
            {{ form.actual_start_date }}
        </div>

        <div class="mb-3">
            <label for="{{ form.actual_end_date.id_for_label }}" class="form-label">{{ form.actual_end_date.label }}</label>
            {{ form.actual_end_date }}
        </div>

        <div class="mb-3">
            <label for="{{ form.actual_time_to_complete.id_for_label }}" class="form-label">{{ form.actual_time_to_complete.label }}</label>
            {{ form.actual_time_to_complete }}
        </div>

        <button type="submit" class="btn btn-success">Confirm Completion</button>
    </form>
{% endblock %}