{% extends 'base.html' %}

{% block content %}
    <h1>Issue Details: {{ issue.issue_details }}</h1>
    <a href="{% url 'issue_list' project_id=project.id %}" class="btn btn-outline-secondary mb-3">Back to Issues List</a>
    <button type="button" class="btn btn-primary mb-3" onclick="openCommentModal('issue', {{ issue.pk }}, 'Issue Details')">Add Comment</button>
    <a href="{% url 'edit_issue' project_id=project.id issue_id=issue.id %}" class="btn btn-warning mb-3">Edit Issue</a>

    <h3>Issue Overview</h3>
    <p><strong>Details:</strong> {{ issue.issue_details }}</p>
    <p><strong>Status:</strong> {{ issue.get_status_display }}</p>
    <p><strong>Created By:</strong> {{ issue.created_by }}</p>
    <p><strong>Created At:</strong> {{ issue.created_datetime }}</p>
    <p><strong>Last Updated At:</strong> {{ issue.last_updated_datetime }}</p>

    <h3>Comments</h3>
    <ul class="list-group">
        {% if comments %}
            {% for comment in comments %}
                <li class="list-group-item">
                    <strong>{{ comment.user }}:</strong> {{ comment.comment_text }} <br>
                    <small>Posted on: {{ comment.created_datetime }}</small>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">No comments available.</li>
        {% endif %}
    </ul>
{% endblock %}