{% extends 'base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
    <h1>Dependencies for {{ project.project_name }}</h1>
    <a href="{% url 'project_detail' project.pk %}" class="btn btn-outline-secondary mb-3">Back to Project</a>
    <a href="{% url 'add_dependency' project.pk %}" class="btn btn-primary mb-3">Add Dependency</a>

    {% if dependencies %}
        <table class="table table-striped" id="dependencies-list">
            <thead>
                <tr>
                    <th>Dependency Details</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th>Actions</th> <!-- New column for actions -->
                </tr>
            </thead>
            <tbody>
                {% for dependency in dependencies %}
                <tr>
                    <td><a href="{% url 'dependency_detail' dependency.project.pk dependency.pk %}">{{ dependency.dependency_details }}</a></td>
                    <td>{{ dependency.created_by }}</td>
                    <td>{{ dependency.created_datetime }}</td>
                    <td><a href="{% url 'edit_dependency' dependency.project.pk dependency.pk %}" class="btn btn-sm btn-warning">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No dependencies found for this project.</p>
    {% endif %}

{% endblock %}

{% block extraJS %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#dependencies-list').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', //'print','pdf', we can add these if required
            ]
        });
    });
</script>
{% endblock %}
