{% extends 'base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
    <h1>Assumptions for {{ project.project_name }}</h1>
    <a href="{% url 'project_detail' project_id=project.id %}" class="btn btn-outline-secondary mb-3">Back to Project</a>
    {% if project.project_status != 7 %}
        <a href="{% url 'add_assumption' project_id=project.id %}" class="btn btn-primary mb-3">Add Assumption</a>
    {% endif %}
    

    {% if assumptions %}
        <table class="table table-striped" id="assumptions-list">
            <thead>
                <tr>
                    <th>Assumption Details</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th>Actions</th> <!-- New column for actions -->
                </tr>
            </thead>
            <tbody>
                {% for assumption in assumptions %}
                <tr>
                    <td><a href="{% url 'assumption_detail' project_id=project.id assumption_id=assumption.id %}">{{ assumption.assumption_details }}</a></td>
                    <td>{{ assumption.get_status_display }}</td>
                    <td>{{ assumption.created_by }}</td>
                    <td>{{ assumption.created_datetime }}</td>
                    {% if project.project_status != 7 %}
                    <td>
                        <a href="{% url 'assumption_detail' project_id=project.id assumption_id=assumption.id %}" class="btn btn-sm btn-info">View</a>
                        <a href="{% url 'edit_assumption' project_id=project.id assumption_id=assumption.id %}" class="btn btn-sm btn-warning">Edit</a>
                    </td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No assumptions found for this project.</p>
    {% endif %}

{% endblock %}

{% block extraJS %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#assumptions-list').DataTable({
            dom: 'lfrtipB',
            buttons: [
                'copy', 'csv', 'excel', //'print','pdf', we can add these if required
            ]
        });
    });
</script>
{% endblock %}