{% extends 'base.html' %}

{% block content %}
    <h1>Task: {{ task.task_name }}</h1>
    <a href="{% url 'project_taskview' project_id=project.id %}" class="btn btn-outline-secondary mb-3">Back to Tasks</a>

    {% if task.task_status != 3 %}  <!-- Only show if the task is not completed -->
    <a href="{% url 'task_edit' project_id=project.id task_id=task.id %}" class="btn btn-warning mb-3">Edit Task</a>
        {% if not task.dependant_task or task.dependant_task.task_status == 3 %}
            <a href="{% url 'task_complete' project_id=project.id task_id=task.id %}" class="btn btn-success mb-3">Complete Task</a>
        {% endif %}
    {% endif %}
    <p><strong>Status:</strong> {{ task.get_task_status_display }}</p>  <!-- Use get_task_status_display to show the name -->
    <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
    <p><strong>Owner:</strong>
        {% if task.assigned_to %}
            <a href="{% url 'asset_detail' pk=task.assigned_to.pk %}">
                {{ task.assigned_to }}
            </a>
        {% else %}
            Unassigned
        {% endif %}
    </p>
    <p><strong>Details:</strong> {{ task.task_details }}</p>
    <p><strong>Planned Start Date:</strong> {{ task.planned_start_date }}</p>
    <p><strong>Planned End Date:</strong> {{ task.planned_end_date }}</p>
    <p><strong>Actual Start Date:</strong> {{ task.actual_start_date }}</p>
    <p><strong>Actual End Date:</strong> {{ task.actual_end_date }}</p>
    <p><strong>Due Date:</strong> {{ task.due_date }}</p>
    <p><strong>Estimated Time to Complete:</strong> {{ task.estimated_time_to_complete }}</p>
    <p><strong>Actual Time to Complete:</strong> {{ task.actual_time_to_complete }}</p>
    <p><strong>Has Dependency:</strong> {{ task.has_dependency }}</p>
    <p><strong>Dependant Task:</strong> 
        {% if task.dependant_task %}
        <a href="{% url 'task_detail' project_id=task.dependant_task.project.id task_id=task.dependant_task.id %}">
            {{ task.dependant_task.task_name }}
        </a>
        {% else %}
            None
        {% endif %}
    </p>
    <p><strong>Delay Reason:</strong> {{ task.delay_reason }}</p>
    <p><strong>Skills Required:</strong> {{ task.skills_required.all|join:", " }}</p>
    <p><strong>Halo Reference:</strong>
        <a href="https://redcarcouncil.haloservicedesk.com/tickets?id={{ task.halo_ref }}" target="_blank">
            {{ task.halo_ref }}
        </a></p>
    
    <button type="button" class="btn btn-primary mb-3" onclick="openCommentModal('task', {{ task.pk }}, 'Task Details')">Add Comment</button>
    <h3>Comments</h3>
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <strong>{{ comment.user }}:</strong> {{ comment.comment_text }} <br>
                <small>Posted on: {{ comment.created_datetime }}</small>
            </li>
        {% endfor %}
    </ul>

{% endblock %}