{% extends 'base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
    {% if projects %}
    <h1>Projects List</h1>
    <table id="project-table" class="table table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Owner</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'project_detail' project.pk %}">{{ project.project_name }}</a></td>
                    <td>{{ project.project_status }}</td>
                    <td>{{ project.planned_start_date }}</td>
                    <td>{{ project.original_target_end_date }}</td>
                    <td>{{ project.project_owner }}</td>
                    <td>{{ project.get_priority_display }}</td>
                    <td>
                        <a href="{% url 'project_edit' project.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No Projects Found</p>
    {% endif %}

{% endblock %}

{% block extraJS %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#project-table').DataTable({
            dom: 'lfrtipB',
            buttons: [
                'copy', 'csv', 'excel', //'print','pdf', we can add these if required
            ]
        });
    });
</script>
{% endblock %}