{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Update Project</h1>
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{% endblock %}

{% block extraJS %}
<script>
    $(document).ready(function () {
        // Check for elements with the 'is-invalid' class and focus on the first one found
        var firstInvalidField = $('.is-invalid').first();
        if (firstInvalidField.length) {
            firstInvalidField.focus();
        }

        // Function to update the min attributes of actual end date fields based on actual start date
        function updateDateFields(actualStartDate) {
            if (actualStartDate) {
                $('#id_actual_end_date').attr('min', actualStartDate);
            }
        }

        // On document ready, check if the actual start date is already populated
        var initialActualStartDate = $('#id_actual_start_date').val();
        updateDateFields(initialActualStartDate);

        // Update min date attributes when actual start date changes
        $('#id_actual_start_date').on('change', function () {
            var actualStartDate = $(this).val();
            updateDateFields(actualStartDate);
        });
    });
</script>
{% endblock %}
