{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Gantt Chart for {{ project.project_name }}</h1>
<a href="{% url 'project_detail' project_id=project.id %}" class="btn btn-outline-secondary mb-3">Back to Project Details</a>

<div id="gantt-chart-container">
    <!-- Placeholder for Gantt chart -->
</div>
{% endblock %}

{% block extraJS %}
<script src="{% static 'js/jsgantt.js' %}" type="text/javascript"></script>
<script>
    // Placeholder: Later integrate Gantt chart library here to display tasks using {{ task_data|safe }}
    console.log("Task Data for Gantt", {{ task_data|safe }});
</script>
{% endblock %}