{% extends 'base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
    {% if project %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ project.project_name }} &gt; Tasks</h1>
        <div>
            <a href="{% url 'project_detail' project_id=project.id %}" class="btn btn-outline-secondary">Back to Project</a>
            {% if project.project_status != 7 %}
                <a href="{% url 'task_create' project_id=project.id %}" class="btn btn-primary">Add Task</a>
            {% endif %}
        </div>
    </div>

    <!-- Project Navigation Buttons -->
    <div class="d-flex flex-wrap my-4">
        <a href="{% url 'project_taskview' project_id=project.id %}" class="btn btn-primary m-1 active">Tasks</a>
        <a href="{% url 'risk_list' project_id=project.id %}" class="btn btn-danger m-1">Risks</a>
        <a href="{% url 'issue_list' project_id=project.id %}" class="btn btn-warning m-1">Issues</a>
        <a href="{% url 'assumption_list' project_id=project.id %}" class="btn btn-success m-1">Assumptions</a>
        <a href="{% url 'dependency_list' project_id=project.id %}" class="btn btn-dark m-1">Dependencies</a>
        <a href="{% url 'stakeholder_list' project_id=project.id %}" class="btn btn-info m-1">Stakeholders</a>
        <a href="{% url 'attachment_list' project_id=project.id %}" class="btn btn-secondary m-1">Attachments</a>
        <a href="{% url 'project_gantt_chart' project_id=project.id %}" class="btn btn-primary m-1">Gantt Chart</a>
        <a href="{% url 'project_task_calendar' project_id=project.id %}" class="btn btn-success m-1">Task Calendar</a>
    </div>
    {% else %}
        <h1>{{ title }}{% if project %} ({{project.display_start_date|date:'d/m/Y'}} - {{project.display_end_date|date:'d/m/Y'}}){% endif %}</h1>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary mb-3">Home</a>
    {% endif %}

    {% if tasks %}
    <table class="table" id="task-list">
        <thead>
            <tr>
                <!-- Only show project name if not viewing tasks of a single project -->
                {% if not project %}
                    <th>Project Name</th>
                {% endif %}
                <th>Task Name</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Owner</th>
                <th>Start Date</th>
                <th>End Date</th>
                {% if title != "Completed Tasks Across All Projects" %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <!-- Only show project name if not viewing tasks of a single project -->
                    {% if not project %}
                        <td><a href="{% url 'project_detail' project_id=task.project.id %}">{{ task.project.project_name }}</a></td>
                    {% endif %}
                    <td>
                        <a href="{% url 'task_detail' project_id=task.project.id task_id=task.id %}">
                            {{ task.task_name }}
                        </a>
                        {% if not task.assigned_to %}
                            <span class="badge bg-danger" title="This task currently has no assigned owner!">!</span>
                        {% endif %}
                        {% if task.conflict_flag %}
                            <span class="badge bg-warning text-dark" title="This task has scheduling conflicts!">!</span>
                        {% endif %}
                    </td>
                    <td>{{ task.get_task_status_display }}</td>
                    <td>{{ task.get_priority_display }}</td>
                    <td>
                        {% if task.assigned_to %}
                            <a href="{% url 'asset_detail' pk=task.assigned_to.pk %}">
                                {{ task.assigned_to }}
                            </a>
                        {% else %}
                            Unassigned
                        {% endif %}
                    </td>
                    <td>{{ task.display_start_date|date:"d/m/Y" }}</td>
                    <td>{{ task.display_end_date|date:"d/m/Y" }}</td>
                    {% if title != "Completed Tasks Across All Projects" %}
                        <td>
                            {% if task.task_status != 3 %}
                                <a href="{% url 'task_edit' project_id=task.project.id task_id=task.id %}" class="btn btn-sm btn-warning">Edit</a>
                                {% if task.can_be_completed %}
                                    <a href="{% url 'task_complete' project_id=task.project.id task_id=task.id %}" class="btn btn-sm btn-success">Complete Task</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No tasks found.</p>
    {% endif %}
{% endblock %}

{% block extraJS %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#task-list').DataTable({
            dom: '<"d-flex justify-content-between align-items-center mb-2"' +
                    '<"col-sm-4 d-flex align-items-center"B>' +  // Buttons on the left
                    '<"col-sm-4 d-flex justify-content-center"i>' +  // Info in the middle
                    '<"col-sm-4 d-flex justify-content-end"f>' +  // Search on the right
                 '>' + 
                 '<"row"<"col-sm-12"tr>>' + 
                 '<"d-flex justify-content-between align-items-center mt-2"' + 
                    '<"col-sm-12 col-md-6"l>' + 
                    '<"col-sm-12 col-md-6 d-flex justify-content-end"p>>',
            buttons: [
                'copy', 'csv', 'excel' // ,'print','pdf' we can add these if required
            ],
            pagingType: "full_numbers",
            "order": [],  // Disable initial ordering, respects backend order
            "ordering": true  // Keep column sorting feature enabled for user clicks
        });
    });
</script>
{% endblock %}