{% extends 'base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
    {% if projects %}
    <h1>Projects List</h1>
    <table id="project-table" class="table table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Owner</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'project_detail' project_id=project.id %}">{{ project.project_name }}</a></td>
                    <td>{{ project.get_project_status_display }}</td>
                    <td>{{ project.planned_start_date|date:"Y-m-d" }}</td>
                    <td>{{ project.original_target_end_date|date:"Y-m-d" }}</td>
                    <td>{{ project.project_owner }}</td>
                    <td>{{ project.get_priority_display }}</td>
                    <td>
                        {% if project.project_status != 7 %}
                            <a href="{% url 'project_edit' project_id=project.id %}" class="btn btn-sm btn-warning">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No Projects Found</p>
    {% endif %}

{% endblock %}

{% block extraJS %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#project-table').DataTable({
            dom: '<"top"f>rt<"bottom"ipB><"clear">',
            buttons: [
                'copy', 'csv', 'excel' //'print','pdf' can be added if required
            ],
            "order": [[ 2, "asc" ]]
        });
    });
</script>
{% endblock %}