{% extends 'base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
    
    <h1>{{ title }}</h1>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary mb-3">Home</a>
    <a href="{% url 'project_create' %}" class="btn btn-danger mb-3">New Project</a>
    
    <a href="{% url 'all_projects' %}" class="btn btn-primary mb-3">All Projects</a>
    <a href="{% url 'open_project_list' %}" class="btn btn-success mb-3">Open Projects</a>
    <a href="{% url 'closed_project_list' %}" class="btn btn-secondary mb-3">Closed Projects</a>

    {% if projects %}
    <table id="project-table" class="table table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Owner</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'project_detail' project_id=project.id %}">{{ project.project_name }}</a></td>
                    <td>{{ project.get_project_status_display }}</td>
                    <td>
                        {% if project.actual_end_date %}
                            {{ project.actual_end_date|date:"Y-m-d" }}
                        {% elif project.revised_target_end_date %}
                            {{ project.revised_target_end_date|date:"Y-m-d" }}
                        {% else %}
                            {{ project.original_target_end_date|date:"Y-m-d" }}
                        {% endif %}
                    </td>
                    <td>
                        {% if project.actual_start_date %}
                            {{ project.actual_start_date|date:"Y-m-d" }}
                        {% else %}
                            {{ project.planned_start_date|date:"Y-m-d" }}
                        {% endif %}
                    </td>
                    <td>{{ project.project_owner }}</td>
                    <td>{{ project.get_priority_display }}</td>
                    <td>
                        {% if project.project_status != 7 %}
                            <a href="{% url 'project_edit' project_id=project.id %}" class="btn btn-sm btn-warning">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No {{ title }} Found</p>
    {% endif %}
{% endblock %}

{% block extraJS %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#project-table').DataTable({
            dom: '<"d-flex justify-content-between align-items-center mb-2"' +
                    '<"col-sm-4 d-flex align-items-center"B>' +  // Buttons on the left
                    '<"col-sm-4 d-flex justify-content-center"i>' +  // Info in the middle
                    '<"col-sm-4 d-flex justify-content-end"f>' +  // Search on the right
                 '>' + 
                 '<"row"<"col-sm-12"tr>>' + 
                 '<"d-flex justify-content-between align-items-center mt-2"' + 
                    '<"col-sm-12 col-md-6"l>' + 
                    '<"col-sm-12 col-md-6 d-flex justify-content-end"p>>',
            buttons: [
                'copy', 'csv', 'excel' //'print','pdf', we can add these if required
            ],
            pagingType: "full_numbers",
            "order": [],  // Disable initial ordering, respects backend order
            "ordering": true  // Keep column sorting feature enabled for user clicks
        });
    });
</script>
{% endblock %}
