{% extends 'base.html' %}
{% load static %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
<h1>Risks for {{ project.project_name }}</h1>
<a href="{% url 'project_detail' project_id=project.id %}" class="btn btn-outline-secondary mb-3">Back to Project</a>
<!-- Only show "Add New Task" if the project is not closed -->
{% if project.project_status.status_name != "Closed" %}
    <a href="{% url 'add_risk' project_id=project.id %}" class="btn btn-primary mb-3">Add Risk</a>
{% endif %}



{% if risks %}
    <table class="table table-striped" id="risk-list">
        <thead>
            <tr>
                <th>Risk Details</th>
                <th>Impact</th>
                <th>Probability</th>
                <th>Risk Score</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Actions</th> <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for risk in risks %}
                <tr>
                    <td><a href="{% url 'risk_detail' project_id=project.id risk_id=risk.id %}">{{ risk.risk_details }}</a></td>
                    <td>{{ risk.get_impact_display }}</td>
                    <td>{{ risk.get_probability_display }}</td>
                    <td>{{ risk.risk_score }}</td>
                    <td>{{ risk.get_status_display }}</td>
                    <td>{{ risk.created_by }}</td>
                    <td>{{ risk.created_datetime }}</td>
                    {% if project.project_status.status_name != "Closed" %}
                    <td>
                        <a href="{% url 'edit_risk' project_id=project.id risk_id=risk.id %}" class="btn btn-sm btn-warning">Edit</a>
                    </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No risks found for this project.</p>
{% endif %}

{% endblock %}

{% block extraJS %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#risk-list').DataTable({
            dom: 'lfrtipB',
            buttons: [
                'copy', 'csv', 'excel', //'print','pdf', we can add these if required
            ]
        });
    });
</script>
{% endblock %}