.display-4 {
    color: blue;
}


#div_id_skills_required {
    column-count: 3; /* Number of columns */
    column-gap: 20px; /* Space between columns */
}
#div_id_skills_required .form-check {
    break-inside: avoid; /* Prevents splitting across columns */
    margin-bottom: 10px;
}

#calendar-container {
    height: 100vh;  /* Fill the entire viewport height */
}

.fc-daygrid-day {
    min-height: 100px;  /* You can adjust this to ensure cells look even */
}

/* Ensure Add Task buttons are positioned properly */
.add-task-button {
    position: absolute;
    top: 5px;  /* Adjust as needed to get it at the top */
    right: 5px;  /* Adjust for alignment */
    z-index: 10; /* Make sure it stays above calendar events */
}

#attachment-tooltip {
    display: none;
    position: absolute;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    pointer-events: none; /* Add this line */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
    font-weight: bold;
}

canvas {
    max-width: 100%;
    max-height: 300px;
}